.container {
    position: relative;
    overflow-x: clip;
    width: 100%;
}

@media (height < 1200px) {
    .container {
        zoom: 100%
    }
}

@media (height < 800px) {
    .container {
        zoom: 75%
    }
}

.post {
    position: absolute;
    width: 100%;
}