.container {
    width: fit-content;
    height: 20vh;
    max-height: 400px;
    position: relative;
    text-decoration: none;
}

.imgBox {
    background-color: white;
    width: 20vw;
    height: 15vw;
    max-width: 400px;
    max-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.img {
    width: 90%;
}

.contentBox {
    width: 20vw;
    height: 5vw;
    max-width: 400px;
    max-height: 100px;
    bottom: 0;
    background-color: #4d4d4d;
    overflow: hidden;
    padding-left: 5%;
    padding-right: 5%;
}

.textContainer {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
}

.text {
    font-weight: 600;
    color: white;
    text-align: center;
}

.header {
    font-size: 1vw;
    margin-top: 0;
    margin-bottom: 0;
}

.subHeader {
    font-size: 1vw;
    margin-top: 0;
    margin-bottom: 0;
}

.descriptor {
    font-size: 1vw;
    margin-top: 50px;
    margin-bottom: 0;
}