.container {
    width: 350px;
    height: 350px;
    position: relative;
    text-decoration: none;
}

.imgBox {
    background-color: white;
    width: 100%;
    height: 225px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.img {
    width: 350px;
}

.contentBox {
    width: 100%;
    height: 125px;
    bottom: 0;
    background-color: #4d4d4d;
    overflow: hidden;
    padding-left: 5%;
    padding-right: 5%;
}

.textContainer {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
}

.text {
    font-weight: 600;
    color: white;
    text-align: center;
}

.header {
    font-size: 2.3rem;
    margin-top: 0;
    margin-bottom: 0;
}

.subHeader {
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 0;
}

.descriptor {
    font-size: 1.1rem;
    margin-top: 50px;
    margin-bottom: 0;
}