.first-stop {
    padding: 20px;
}

.first-stop p {
    color: #4d4d4d;
    text-align: left;
}

.last-stop {
    padding: 20px;
    width: 550px;
}

.last-stop .city-and-code {
    position: absolute;
    right: 0;
    margin-right: 20px;
}

.last-stop .stop-name {
    text-align: right;
    margin-left: 50px;
}

.city-and-code {
    display: flex;
    flex-direction: row;
}

.city {
    font-size: 2.7rem;
    margin-top: -13px;
    font-weight: 600;
}

.code {
    font-size: 1.5rem;
    margin-top: 5px;
    margin-left: 12px;
    font-weight: 400;

}

.stop-name {
    font-size: 1.5rem;
    font-weight: 600;
}

.first-stop .stop-name {
    margin-top: -50px;
}

.last-stop .stop-name {
    margin-top: 45px;
}

.last-stop p {
    color: #4d4d4d
}

.first-meta-box {
    position: absolute;
    bottom: 0;
    left: 0;
    padding-left: 20px;
}

.last-meta-box {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 20px;
}

.last-meta-box p {
    text-align: right;
}

.meta1, .meta2 {
    font-size: 1rem;
    font-weight: 600;
    color: #4d4d4d;
}

.meta1 {
    margin-bottom: -17px;
}