.circle {
    height: 66px;
    margin-top: auto;
    margin-bottom: auto;
}

.num {
    font-weight: 600;
    font-size: 1.8rem;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}