.route-box {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-radius: 50px;
    padding: 25px;
    margin-top: 10px;
}

.bahn-mainline-route-box {
    background-color: #5CDBD5;
}

.route-bullet {
    height: 60px;
}

.route {
    display: flex;
    flex-direction: row;
}

.route-name {
    color: white;
    font-weight: 600;
    font-size: 2.2rem;
    margin-top: 5.2px;
    margin-left: 15px;
}

.bahn-logo {
    height: 25px;
    margin-left: 20px;
}

.logo-box {
    display: flex;
    justify-content: left;
    margin-top: 50px;
    max-width: 210px;
    width: 50%;
    background-color: #4d4d4d;
    padding: 15px;
    border-radius: 50px;
}

.route-box-container {
    max-width: 800px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}