.container {
    height: 100%;
}

@media (pointer: fine), (pointer: none) {
    /* desktop */
    .search {
        height: 67px;
    }
}

@media (pointer: coarse) {
    /* mobile */
    .search {
        height: 45px;
    }
}

.search ul { 
    background: #dadada; 
    border-radius: 15px;
    width: 100%;
}

.search li {
    font-size: 1.0rem;
    margin-top: 10px;
}